{% extends 'layouts/base.html' %}

{% block title %}WordGuessr - {{ date }}{% endblock %}

{% block content %}
<h1 class="text-center text-2xl p-4">Puzzle {{ date }}</h1>
<input id="invisibleInput" type="text" class="opacity-0">
<div id="puzzleState" hx-trigger="load" hx-get="/htmx/puzzles/{{ date }}">Puzzle data is here</div>
<a class="bg-cyan-500 rounded-md" href="/puzzles">Play Other Puzzles</a>

<script>
    let guess = ""

    // The current row is dynamically given the class name "guess"
    var letterElements = document.getElementsByClassName("guess");

    const sendGuess = () => {
        htmx.ajax(
            'GET',
            `/htmx/puzzles/{{ date }}?guess=${guess}`,
            { target: '#puzzleState' }
        )
        guess = ""
    };

    document.addEventListener('keydown', event => {
        if (event.key == "Enter") {
            if (guess.length < letterElements.length) {
                console.log("Guess too short!")
            }
            else {
                sendGuess();
            }
            return
        }

        if (event.key == "Backspace") {
            guess = guess.slice(0, -1);
        }
        else if (guess.length >= letterElements.length) {
            return
        }
        else {
            guess += event.key.toUpperCase()
        }
        updateGuess();
    });

    const updateGuess = () => {
        for (let i = 0; i < letterElements.length; i++) {
            letterElements[i].innerHTML = guess.charAt(i)
        }
    }
</script>

{% endblock %}
