{% for i in range(6) %}

<div onclick="document.getElementById('invisibleInput').focus()" class="w-full flex justify-center">

    {% for j in range(data.puzzle.word_length) %}

    <div
        class="{{ 'guess' if i == data.user_progress.guesses|length }} text-white text-xl text-center min-w-4 max-w-10 h-10 size-full border-white border-4 rounded-xl bg-cyan-500 m-[2px]">
        {{ data.user_progress.guesses[i][j] if data.user_progress.guesses|length >= i+1 }}
    </div>

    {% endfor %}
</div>

{% endfor %}

{% if data.puzzle.word_type %}
<p>Word Type: {{ data.puzzle.word_type }}</p>
{% endif %}

{% if data.puzzle.synonym %}
<p>Synonym: {{ data.puzzle.synonym }}</p>
{% endif %}

{% if data.puzzle.definition %}
<p>Definition: {{ data.puzzle.definition }}</p>
{% endif %}

{% if data.puzzle.pronunciation_base64 %}
<p>Pronunciation: 
<audio controls>
    <source src="data:audio/mpeg;base64,{{ data.puzzle.pronunciation_base64 }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
</p>
{% endif %}

{% if data.puzzle.solution %}
<p>Solution: {{ data.puzzle.solution }}</p>
{% endif %}

{% if data.user_progress.completed %}
    <div hx-trigger="load" hx-get="/htmx/stats">Stats will be displayed here</div>
{% endif %}
