{% set max_guessed = data.values()|max %}

<div class="px-6 text-[11px]">

    {% for k, v in data.items() %}

    {% set percent_width = ((v / max_guessed) * 100)|string + '%' %}
    <div class="flex py-1">
        <span class="min-w-4">{{ k }}</span>
        <div class="bg-white w-full rounded-sm">
            <div 
                class="rounded-sm {{'bg-red' if k == 'X' else 'bg-green'}} w-[{{ percent_width }}] animate-[widthGrow_0.5s_ease-in-out]"
                style="--final-width: {{ percent_width }}"
            >
                <p class="text-right pr-2">{{ v if v }}</p>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
