{% macro visualize_guesses(num_guesses) %}

{% for i in range(6) %}

<img class="size-5" src={{"https://www.svgrepo.com/show/405751/green-circle.svg" if num_guesses > i else "https://www.svgrepo.com/show/407314/red-circle.svg"}}>
{% endfor %}

{% endmacro %}

{% for puzzle_list_item in data %}

<tr id={{ puzzle_list_item.date }}>
    <td>{{ puzzle_list_item.date }}</td>
    <td class="width-64 flex space-x-2">{{ visualize_guesses(puzzle_list_item.num_guesses) }}</td>
    <td>{{ "Won!" if puzzle_list_item.won else "Lost!" if puzzle_list_item.completed else "Uncompleted!" }}</td>
</tr>

{% endfor %}
